*.o
*.obj
*.out
*.exe
*.dll
*.a
*.lib
*.stackdump
*.log
# this is where the old autoconf files reside. no need to add them
trash
trash/*
lex.yy.c
y.tab.c
y.tab.h

# variations of temporary test files
t.c
t.cpp
t.h
t.hpp
pre.h
pre.hpp
pre.c
pre.cpp
tmp.c
tmp.cpp
tmp.h
tmp.hpp
